<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add	path="*"
				verb="*"
				name="httpPlatformHandler"
				resourceType="Unspecified"
				modules="httpPlatformHandler" />
		</handlers>

		<httpPlatform
			processPath="D:\home\site\wwwroot\zeo-server.exe"
			arguments="%HTTP_PLATFORM_PORT%" >
		</httpPlatform>
	</system.webServer>
</configuration>
